name: continuous-integration

on:
  push:
    
env:
  RUSTFLAGS: "-D warnings"

jobs:
  cargo:
    name: cargo ${{ matrix.job.name }} (${{ matrix.crate }})

    runs-on: ubuntu-latest

    strategy:
      matrix:
        crate:
          - nu_plugin_plotters
          - nu-jupyter-kernel
        job:
          - name: check
            command: cargo check
          - name: build
            command: cargo build
          - name: doc
            command: cargo doc
          - name: test
            command: cargo test
    
    steps:
      - uses: actions/checkout@v4
      - uses: tecolicom/actions-use-apt-tools@v1
        with:
          tools: libfontconfig1-dev
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: $RUSTFLAGS
      - run: ${{ matrix.job.command }} -p ${{ matrix.crate }}

  integration-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: tecolicom/actions-use-apt-tools@v1
        with:
          tools: libfontconfig1-dev
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: $RUSTFLAGS
      - run: cargo run register --user
      - name: Read .python-version
        id: python-version
        run: echo "python-version=$(cat .python-version)" >> $GITHUB_OUTPUT
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ steps.python-version.outputs.python-version }}
      - uses: yezz123/setup-uv@v4
      - run: uv sync
      - uses: actions/cache@v4
        with:
          path: .venv/
          key: ${{ runner.os }}-uv-${{ hashFiles('**/uv.lock') }}
      - run: uv run pytest
